nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    padding: 10px 80px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

nav .navbarlinks   {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .navbarlinks   li {
    list-style: none;
    padding: 0px 20px;
    position: relative;
}

nav .navbarlinks   li a {
    color: #080808;
    text-decoration: none;
}

nav .navbarlinks   li a::after {
    content: '';
    width: 0;
    height: 2px;
    background: orange;
    display: block;
    transition: 0.2s linear;
}

nav .navbarlinks   li a:hover::after {
    width: 100%;
}

nav .navbarlinks   li a:hover {
    color: rgb(206, 139, 16);
}

nav .mobile {
    display: none;
}

nav .mobile i {
    color: rgb(192, 15, 220);
    width: 50px;
    height: 50px;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    nav .navbarlinks {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 70px;
        right: -300px;
        width: 300px;
        height: 100vh;
        background-color: white;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.3);
        padding: 40px 0 0 10px;
    }

    nav .navbarlinks.activate{
        right: 0px;
    }
    nav .navbarlinks li {
        margin-bottom: 20px;
    }

    nav .mobile {
        display: block;
    }

    nav .mobile i {
        font-size: 24px;
        cursor: pointer;
    }
}

.container {
    width: 100%;
    height: auto;
    margin-top: 60px;
    z-index: 99;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr;
    grid-template-areas: "left right";
}

@media screen and (max-width: 767px) {
    .container{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

.container .leftSide {
    grid-area: left;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    overflow-wrap: initial;
}

.container .leftSide .leftSideImage{
    margin-top: 40px;
    margin-bottom: 40px;
}

.container .leftSide .phoneNumber{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container .leftSide .phoneNumber i{
    margin: 20px;
    color: rgb(9, 203, 138);
    position: relative;
    left: 50px;
    right: 4px;
}

.container .leftSide h1{
    text-decoration: underline;
    text-decoration-color: orange;
    position: relative;
    left: -70px;
    margin-bottom: 5px;
}

.container .leftSide p{
    line-height: 22px;
    position: relative;
    text-align: justify;
    left: 70px;
    right: 4px;
    margin-right: 90px;
}

.container .rightSide {
    grid-area: right;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.container .rightSide form{
    width: 55%;
    height: auto;
    margin: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .container .rightSide form{
      width: 100%;
    }
  }

.container .rightSide form .formGroup label{
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 600;
}

.container .rightSide form .formGroup input{
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    border-top: hidden;
    border-left: none;
    border-right: none;
    font-family: 'Times New Roman', Times, serif;
}


.container .rightSide form .formGroup textarea{
    margin-bottom: 30px;
    font-size: 20px;
    border-top: hidden;
    border-left: none;
    border-right: none;
    height: 180px;
}

.container .rightSide form .formGroup button{
    padding: 20px;
    margin-bottom: 20px;
    width: 150px;
    border-radius: 12px;
    background-color: #2c4104;
    cursor: pointer;
    border: none;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}